.point {
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 3px;
    transition: width 1s ease, height 1s ease;
  }
  
  .point:hover {
    width: 200px;
    height: 50px;
  }
